#about {
    width: 80vw;
    margin-top: 40px;
    min-height: 40%;
    background-color: #e9edc9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px;
}

.title {
    color: #6c584c;
    font-weight: 900;
}

.about-text {
    color: #344e41;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume-text {
    color: #344e41;
    text-decoration: underline;
    text-decoration-color: #344e41;
    font-weight: 300;
    font-size: 18px;
    margin-top: 25px;
}

.resume-text:hover {
    color: #ccd5ae;
    text-decoration: underline;
    text-decoration-color: #ccd5ae;
}