.footer {
    position: relative;
}

footer {
    width: 100vw;
    height: 40px;
    margin: 0 auto;
    background-color: #ccd5ae;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-list {
    list-style-type: none;
} 

.contact-item {
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
}

.contact-item:not(:last-child) {
    border-right: 1px solid #6c584c;
}

.contact-link {
    color: #6c584c;
    text-decoration: none;
    font-weight: 700;
}

.contact-link:hover {
    color: #faedcd;
    text-decoration: underline;
    text-decoration-color: #faedcd;
    cursor: pointer;
}