header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 50px;
    background-color: #ccd5ae;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-right: 2%;
    padding-left: 2%;
}

#name {
    color: #593d3b;
    text-decoration: none;
    display: inline-block;
}

#name:hover {
    color: #fefae0;
    text-decoration: underline;
    text-decoration-color: #fefae0;
    cursor: pointer;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.list-item {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #6c584c;
}

.nav-item {
    color: #6c584c;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
}

.nav-item:hover {
    color: #faedcd;
    text-decoration: underline;
    text-decoration-color: #faedcd;
    cursor: pointer;
}